<div class="content content-container">
	<div class="form-panel-third">
<h1>New Tr Rfq Submission</h1>
		<div class="form-horizontal">
			<div class="field">
				<%= render 'form', tr_rfq_submission: @tr_rfq_submission %>
			</div>
		</div>
	</div>
</div>

