<table>
  <thead>
    <tr>
      <th colspan='8' class='title'>RFQ SUBMISSIONS</th>
    </tr>
    <tr>
      <th>RFQ ID</th>
      <th>ITEM NAME</th>
      <th>DESCRIPTION</th>
      <th>QUANTITY</th>
      <th>CREATED DATE</th>
      <th>EXPIRATION DATE</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>