<p>Dear <%= @vendor.vendor %>,</p>
<p>
  Terima kasih telah menginput Company Profile perusahaan anda di database kami.  Untuk saat ini kami belum dapat memproses akun anda dikarenakan:
</p>
<p>
  <%= @vendor.reject_reason %>
</p>
<p>
</p>
  Atas perhatiannya kami ucapkan terima kasih.
<p>
  Best Regards,<br>
  Purchasing Dept<br>
  PT NUTRIFOOD INDONESIA
</p>
