<div class="content content-container">
	<div class="form-panel-third">
	<h1>New RFQ</h1>
		<div class="form-horizontal">
			<div class="fields">
				<%= render 'form', tr_rfq: @tr_rfq %>	
			</div>
		</div>
	</div>
</div>