<div class='form-panel-third'>
  <div class='row'>
    <div class='form-group'>
      <div class='col-sm-12' style="text-align: center;">
        <h2>
          <b>! Access Denied</b>
        </h2>
        <h3>
          Anda tidak memiliki akses ke halaman ini.
        </h2>
        <h4>
          Silahkan ajukan Tickle apabila ada kebutuhan akses.
        </h4>
        <%= link_to "Go Back", logout_path %>
      </div>
    </div>
  </div>
</div>