<div class='form-panel-third'>
  <div class='row'>
    <div class='form-group'>
      <div class='col-sm-12' style="text-align: center;">
        <h4>
          <p>There's no inquiry at the moment.</p>
          <p>You'll receive email for any invitation.</p>
        </h4>
      </div>
    </div>
  </div>
</div>